@charset "utf-8";
@import url(./font.css);

body {
  cursor: none;
}

/* CURSOR */
.cursor {
  position: absolute;
  border-radius: 50%;
  z-index: 10000;
  background-color: #DFD3C3;
  width: 20px;
  height: 20px;
}

.cursor.img {
  background-color: transparent;
  width: 20vw;
  height: auto;
  mix-blend-mode: difference;
}


/* HEADER */
#header {
  overflow: hidden;
  width: 100vw;
  position: fixed;
  padding: 35px 65px;
  z-index: 1000;
}

.logo {
  float: left;
}

.logo a {
  font-family: 'Montserrat', sans-serif;
  color: #DFD3C3;
}

.logo a span {
  display: block;
  line-height: 1.2;
}

.logo .frontend {
  font-size: 1.2vw;
  font-weight: 300;
}

.logo .portfolio {
  font-size: 1.15vw;
  font-weight: 800;
}

.contactLink {
  float: right;
}

.contactLink a {
  font-family: 'Eros Romano';
  font-size: 2vw;
  color: #DFD3C3;
}

/* MAIN */
#main {}

.horizon {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
}

.circle {
  width: 10vw;
  height: 10vw;
  position: absolute;
  background-color: #DFD3C3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOME */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #DFD3C3;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #242424;
  position: relative;
}

.home_title {
  font-size: 9vw;
  text-transform: uppercase;
  font-family: 'Eros Romano';
  line-height: 1;
  margin-bottom: 55px;
}

.home_desc {}

.home_desc .line {
  border-top: 1px solid #dfd3c3;
  width: 20%;
  height: 1px;
  display: inline-block;
  margin-bottom: 30px;
}

.home_desc p {
  font-size: 1vw;
  font-family: 'Chosunilbo_myungjo';
  line-height: 1.57;
}

.hidden {
  overflow: hidden;
}

.c_home {
  padding: 2vw;
  right: 5vw;
  bottom: 3vw;
}

/* ABOUT */
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #DFD3C3;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #242424;
  position: relative;
  gap: 1.5vw;
}

.about_img {
  position: relative;
  width: 19vw;
  height: 100%;
}

.about_img::before {
  content: '';
  width: 15vw;
  height: 15vw;
  position: absolute;
  left: -100px;
  top: 68px;
  border-radius: 50%;
  border: 1px solid #dfd3c3;
}

.about_img>img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.about_desc {
  width: 21%;
  text-align: left;
  margin-top: -12vw;
  font-size: 16px;
}

.c_about {
  padding: 2vw;
  left: 5vw;
  bottom: 3vw;
  font-family: 'Eros Romano';
  color: #242424;
  font-size: 60px;
}

/* PROJECT */
.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #DFD3C3;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #242424;
  position: relative;
  gap: 1.5vw;
  text-align-last: left;
  font-family: 'Eros Romano';
}

.work1 {
  font-size: 10vw;
  color: #242424;
  background-color: #DFD3C3;
  display: inline-block;
  line-height: 0.6;
}

.work1_list {
  overflow: hidden;
  width: 40vw;
}

.work1_list>li {
  font-size: 3vw;
  line-height: 0.6;
  border-bottom: 1px solid #dfd3c3;
  margin: 1vw 0;
  position: relative;
  padding-top: 2vw;
}

.work1_list>li>span {
  font-size: 1vw;
  margin-right: 0.7vw;
  margin-bottom: -1vw;
  position: absolute;
  right: 0;
  bottom: 25px;
}